%map{ lang: 'es', context: 'números,binarios', version: '1'}

  %problem
    %desc Cambio de decimal a otra base
    %cases{ varnames: 'N1' }
      %case 3
      %case 9
      %case 17
      %case 25
      %case 39
      %case 69
      %case 90
      %case 120
      %case 158
      %case 245
    %ask
      %text Convierte el número decimal N1 a binario
      %answer{type: 'formula'} N1.to_i.to_s(2)
    %ask
      %text Convierte el número decimal N1 a octal
      %answer{type: 'formula'} N1.to_i.to_s(8)
    %ask
      %text Convierte el número decimal N1 a hexadecimal
      %answer{type: 'formula'} N1.to_i.to_s(16)

  %problem
    %desc Cambio de binario a otra base
    %cases{ varnames: 'N1' }
      %case 10
      %case 101
      %case 110
      %case 1001
      %case 11001
      %case 100101
      %case 1010101
      %case 11001100
      %case 111000111
      %case 1001010111
    %ask
      %text Convierte el número binario N1 a decimal
      %answer{type: 'formula'} N1.to_s.to_i(2)
    %ask
      %text Convierte el número binario N1 a octal
      %answer{type: 'formula'} N1.to_s.to_i(8)
    %ask
      %text Convierte el número binario N1 a hexadecimal
      %answer{type: 'formula'} N1.to_s.to_i(16)

  %problem
    %desc Cambio de octal a otra base
    %cases{ varnames: 'N1' }
      %case 4
      %case 7
      %case 24
      %case 57
      %case 72
      %case 143
      %case 375
      %case 1364
      %case 3110
      %case 5372
    %ask
      %text Convierte el número octal N1 a decimal
      %answer{type: 'formula'} N1.to_s.to_i(8)
    %ask
      %text Convierte el número octal N1 a binario
      %answer{type: 'formula'} N1.to_s.to_i(8).to_s(2)
    %ask
      %text Convierte el número octal N1 a hexadecimal
      %answer{type: 'formula'} N1.to_s.to_i(8).to_s(16)

  %problem
    %desc Cambio de hexadecimal a otra base.
    %cases{ varnames: 'N1' }
      %case 5
      %case d
      %case ab
      %case 8f
      %case 3c2
      %case e45
      %case 1d5c
      %case ff21
      %case abcdef
      %case c34af8
    %ask
      %text Convierte el número hexadecimal N1 a decimal
      %answer{type: 'formula'} "N1".to_i(16)
    %ask
      %text Convierte el número hexadecimal N1 a binario
      %answer{type: 'formula'} "N1".to_i(16).to_s(2)
    %ask
      %text Convierte el número hexadecimal N1 a octal
      %answer{type: 'formula'} "N1".to_i(16).to_s(8)