%map{ lang: 'es', context: 'redes', version: '1'}

  %concept
    %names red, red de ordenadores
    %tags conjunto, ordenador, interconectado, comunicación, intercambiar, información
    %def Es un conjunto de ordenadores interconectados mediante algún medio de comunicación, de forma que pueden intercambiar información entre sí.
    %table{ fields: 'usos' }
      %row Compartir archivos y programas
      %row Compartir recursos como impresoras
      %row Compartir bases de datos
      %row Trabajar en grupo
      %row Centralizar la gestión de recursos
      %row Seguridad
      %row Mejora la organización de la empresa
    %table{ fields: 'tipos por extensión' }
      %row PAN
      %row LAN
      %row MAN
      %row WAN

  %concept
    %names Red de Área Personal, Personal Area Network, PAN
    %tags red, área, personal, dispositivos, interconectados, comunicación, corta, distancia
    %def Red de dispositivos interconectados en el entorno de trabajo de una persona.
    %table{ fields: 'ejemplos' }
      %row Bluetooth
      %row Infrarrojos
      %row USB
      %row FireWire

  %concept 
    %names Red de Área Local, Local Area Network, LAN
    %tags red, área, local, dispositivos, interconectados, comunicación, corta, distancia
    %def Red de dispositivos interconectados en un área relativamente pequeña, como una habitación, una oficina o un edificio.
    %table{ fields: 'características' }
      %row Espacio físico relativamente pequeño.
      %row Una habitación, una oficina, un edificio
      %row Normalmente son privadas

  %concept
    %names Red de Área Metropolitana, Metropolitan Area Network, MAN 
    %tags red, área, metropolitana, dispositivos, interconectados, comunicación, media, distancia
    %def Red de dispositivos interconectados en un área metropolitana, como una ciudad o una región.
    %table{ fields: 'características' }
      %row Espacio físico relativamente grande.
      %row Una ciudad, una región
      %row Normalmente son privadas

  %concept
    %names Red de Área Amplia, Wide Area Network, WAN
    %tags red, área, amplia, dispositivos, interconectados, comunicación, larga, distancia
    %def Red de dispositivos interconectados en un área geográfica extensa, como un país o un continente.
    %table{ fields: 'características' }
      %row Espacio físico muy grande.
      %row Un país, un continente
      %row Normalmente son públicas